<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Kanban Board - no login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light mb-1" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/">
        <%= image_tag('logo.svg', size: "30x30", alt: "Kanban Boards", class: 'd-inline-block') %>
        Kanban Boards
      </a>

      <span class="navbar-text float-xs-right">
        <% if current_user %>
          Logged in as <%= current_user.name %>
          <%= link_to "log out", logout_path %>
        <% else %>
          log in with <%= link_to "twitter", "/auth/twitter" %>
        <% end %>
      </span>
    </nav>
    <div class="container">
      <% flash.each do |key, value| %>
          <div class="alert alert-info mt-1"><strong><%= key %>:</strong> <%= value %></div>
      <% end %>

      <%= yield %>
    </div>
    <footer class="bd-footer text-muted">
      <div class="container">
        <p>This Demo App offers no Login. But a session-cookie <kbd><%=
        Rails.application.config.session_options[:key] %></kbd> is still created
          by rails and set for each visitor.</p>
        <p>You can find the source code in <a href="https://github.com/backend-development/rails-example-kanban-board-login/tree/master">the master branch</a> of <a href="https://github.com/backend-development/rails-example-kanban-board-login">the repository</a>.</p>
      </div>
    </footer>
  </body>
</html>
